// Basic page options
@import "global/normalize";

// fonts1
@import "global/fonts";

// vars
@import "global/vars";

// mixins
@import "global/mixins";

// slider
@import "global/slick.scss";
@import "global/slick-theme.scss";

// common
@import "blocks/common/container";


// index page
@import "blocks/index/header";
@import "blocks/index/gifts"; 
@import "blocks/index/bonus"
