// Main Colors
$actual-gray: #0000008a;
$actual-black-text: #000000de;
$black: #000000;
$actual-orange:  #FF680A;

// Fonts
$roboto: "Roboto";
$arial: "Arial", sans-serif; 

// Pixel density
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1366px;

// Gutters
$mobile-pads: 0;
$tablet-pads: 24px;
$desktop-pads: 40px;