.bonus {
  background: url("/build/img/raster/bgMobile.png") bottom no-repeat;
  background-size: cover;
  padding: 80px 0 60px 0;

  @include tablet {
    background: url("/build/img/raster/bgPad.png") bottom no-repeat;
    background-size: cover;
  }

  @include laptop {
    padding: 145px 0 60px 0;
  }

  @include desktop {
   
  }

  .bonus-info {
    text-align: center;

    .bonus-info_title {
      font-family: $roboto;
      font-weight: normal;
      font-size: 24px;
      line-height: 130%;
      color: $actual-black-text;

      span {
        color: $actual-orange;
      }

      @include tablet {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;

      }

      @include laptop {
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 130%;
      }

      @include desktop {}
    }

    .bonus-info_description {
      margin-top: 8px;
      font-family: $roboto;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: $actual-black-text;

      @include tablet {
        margin-top: 0;
        font-size: 16px;
      }

      @include laptop {
        font-size: 22px;
        line-height: 130%;
      }

      @include desktop {}
    }
  }

  .bonus-form {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .bonus-form_telnumber {
      width: 256px;
      height: 36px;
      background: #ffffff;
      border: 1px solid #cfcfcf;
      box-sizing: border-box;
      border-radius: 50px;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      line-height: 19px;
      color: $actual-gray;

      @include tablet {
        height: 46px;
        font-size: 18px;
        line-height: 21px;
      }

      @include laptop {
        width: 369px;
        height: 56px;
      }

      @include desktop {}
    }

    .bonus-form_button {
      margin-top: 24px;
      width: 256px;
      height: 36px;
      border: none;
      background: #ff680a;
      border-radius: 50px;
      font-family: $roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffffde;

      @include tablet {
        height: 46px;
        font-size: 18px;
        line-height: 21px;
      }

      @include laptop {
        width: 369px;
        height: 56px;
      }

      @include desktop {}
    }
  }
}