.group {
  background: url("/build/img/raster/2_bg.png") bottom no-repeat;
  background-size: contain;
  background-position: 50% 55%;
  margin-bottom: 24px;
  


  @include tablet {
    background-position: 50% 95%;
    // background-size: contain;
  }

  @include laptop {
    background-position: 50% 115%;
    // background-size: contain;
  }

  @include desktop {
    background-position: 50% 780%; 
   
  }
}

.gifts-bonus {
  .gifts-bonus-title {
    margin-top: 17px;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $actual-gray;


    @include desktop {
      margin-top: 34px;
      font-size: 28px;
      line-height: 33px;
    }
  }

  .gifts-bonus-box {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      margin-top: 8px;
    }

    @include laptop {
      margin-top: 21px;
    }

    @include desktop {}
  }

  .gifts-bonus-box_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    width: 208px;
    color: $black;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0;
      margin-left: 24px;

      &:last-child {
        margin-right: 24px;
      }
    }

    @include laptop {
      width: 294px;
    }

    @include desktop {
      width: 389px;
    }

    .gifts-bonus-box_item-img {
      width: 160.21px;
      height: 160.21px;
      margin-bottom: 13.49px;

      @include desktop {
        width: 190px;
        height: 190px;
      }
    }

    .gifts-bonus-box_item-description {
      font-family: $roboto;
      font-size: 14px;
      line-height: 16px;

      @include laptop {
        font-size: 16px;
        line-height: 19px;
        color: #3B6D9A;
      }

      @include desktop {
        font-size: 18px;
        line-height: 21px;
      }
    }

    &:hover {
      .gifts-bonus-box_item-description {
        color: $actual-orange;
      }
    }
  }
}

.gifts-zone {
  margin-top: 100px;
  text-align: center;

  @include tablet {
    margin-top: 58px;
  }

  @include laptop {
    margin-top: 100px;
  }

  @include desktop {}

  .gifts-zone-title {
    width: auto;
    padding: 0 24px;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $actual-gray;

    @include tablet {
      
    }

    @include laptop {}

    @include desktop {
      font-size: 28px;
      line-height: 33px;
    }

  }

  .gifts-zone_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      margin-top: -20px;
    }

    @include laptop {
      margin-top: 8px;
    }

    @include desktop {

    }

    .gifts-zone_box_item {
      width: 208px;
      display: inline-block;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
        margin-left: 24px;

        &:last-child {
          margin-right: 24px;
        }
      }

      @include laptop {
        width: 293px;
      }

      @include desktop {}

      &:hover {
        .gifts-zone_box_item-cloud {
          transform: scale(1.2);
        }
      }

      .gifts-zone_box_item-cloud {
        width: 121.59px;
        height: 89.21px;
        position: relative;
        z-index: 0;
        top: 50px;
      }

      .gifts-zone_box_item-img {
        position: relative;
        z-index: 1;
      }

      .gifts-zone_box_item-description {
        margin-top: 30px;
        font-family: $roboto;
        font-size: 14px;
        line-height: 16px;
        color: #000000de;
      }
    }
  }
} 