.group {
  background: url("/build/img/raster/2_bg.png") bottom no-repeat;
  background-size: contain;

}

.gifts-bonus {
  padding-bottom: 73.3px;
  .gifts-bonus-title {
    margin: 17px 0;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $actual-gray;
  }

  .gifts-bonus-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 8px;
    }

    @include laptop {}

    @include desktop {}
  }

  .gifts-bonus-box_item {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    color: $black;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablet {
      margin-bottom: 0;
    }

    @include laptop {}

    @include desktop {}

    &:hover,
    &:active {
      color: $actual-orange;
    }

    .gifts-bonus-box_item-img {
      width: 160.21px;
      height: 160.21px;
      margin-bottom: 13.49px;
    }

    .gifts-bonus-box_item-description {
      font-family: $roboto;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.gifts-zone {

  .gifts-zone-title {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $actual-gray;
  }

  .gifts-zone_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      padding-top: 8px;
    }

    @include laptop {}

    @include desktop {}

    .gifts-zone_box_item {
      width: 208px;

      display: inline-block;
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        .gifts-zone_box_item-cloud {
          transform: scale(1.2);
        }
      }

      .gifts-zone_box_item-cloud {
        width: 121.59px;
        height: 89.21px;
        position: relative;
        z-index: 0;
        top: 55px;
      }

      .gifts-zone_box_item-img {
        position: relative;
        z-index: 1;
      }

      .gifts-zone_box_item-description {
        margin-top: 30px;
        font-family: $roboto;
        font-size: 14px;
        line-height: 16px;
        color: #000000de;
      }
    }
  }
}