.gifts-bonus {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .gifts-bonus-title {
    margin-bottom: 17px;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $actual-gray;
    
  }
  .gifts-bonus_item {
    display: inline-block;
    text-align: center;
    margin-bottom: 24px;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover,
    &:active {
      color: $actual-orange;
    }
    .gifts-bonus_item-img {
      width: 160.21px;
      height: 160.21px;
    }
    .gifts-bonus_item-description {
      font-family: $roboto;
      font-size: 14px;
      line-height: 16px;
    }

    @include tablet {
    }

    @include laptop {
    }

    @include desktop {
    }
  }
}

.gifts-zone {
  background: url("/build/img/raster/2_bg.png") top no-repeat;
  background-size: contain;
  padding-top: 106px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .gifts-zone-title {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $actual-gray;
  }
  .gifts-zone_item {
    width: 208px;
    height: 162px;
    display: block;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    &:hover {
      .gifts-zone_item-cloud {
        transform: scale(1.2);
      }
    }
    .gifts-zone_item-cloud {
      width: 121.59px;
      height: 89.21px;
      position: relative;
      z-index: 0;
      top: 55px;
    }
    .gifts-zone_item-img {
      position: relative;
      z-index: 1;
    }
    .gifts-zone_item-description {
      padding-top: 30px;
      font-family: $roboto;
      font-size: 14px;
      line-height: 16px;
      color: #000000de;
    }
  }
}
