.container{
  position: relative;
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: $mobile-pads;
  padding-right: $mobile-pads;

  @include tablet {
    max-width: 768px;
    padding-left: $tablet-pads;
    padding-right: $tablet-pads;
  }

  @include laptop {
    max-width: 1024px;
    padding-left: $tablet-pads;
    padding-right: $tablet-pads;
  }

  @include desktop {
    max-width: 1366px;
    padding-left: $tablet-pads;
    padding-right: $tablet-pads;
  }
}


